<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>engage16</display-name>
	<servlet>
		<servlet-name>engage16</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
    
	WEB-INF/applicationContext.xml
	classpath:NavisResourceContext.xml
    </param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>engage16</servlet-name>
		<url-pattern>/1/service/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>cascadeValley</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
   
	WEB-INF/applicationContext.xml
    classpath:CascadeResourceContext.xml
    </param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>cascadeValley</servlet-name>
		<url-pattern>/9/service/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>salinaRegional</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
   
	WEB-INF/applicationContext.xml
    classpath:SalinaResourceContext.xml
    </param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>salinaRegional</servlet-name>
		<url-pattern>/11/service/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>lindsborg</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
	WEB-INF/applicationContext.xml
    classpath:lindsborgResourceContext.xml
    </param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>lindsborg</servlet-name>
		<url-pattern>/13/service/*</url-pattern>
	</servlet-mapping>
	<display-name>cacheRefresh</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

</web-app>