USE [master]
GO
/****** Object:  Database [engage]    Script Date: 7/7/2014 5:41:41 PM ******/
CREATE DATABASE [engage]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'engage', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\engage.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'engage_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\engage_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [engage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [engage]
GO
/****** Object:  Table [dbo].[account]    Script Date: 7/7/2014 5:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[client_database_id] [int] NOT NULL,
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[account_name] [nvarchar](128) NOT NULL,
	[password] [nvarchar](128) NOT NULL,
	[unit_number] [nvarchar](128) NULL,
	[date_verified] [datetime] NULL,
	[first_name] [nvarchar](128) NOT NULL,
	[last_name] [nvarchar](128) NOT NULL,
	[email] [nvarchar](128) NOT NULL,
	[mobile_phone_number] [nvarchar](128) NOT NULL,
	[failed_login_attempts] [int] NULL,
	[last_login_date] [datetime] NULL,
	[disable_date] [datetime] NULL,
	[account_role_id] [int] NULL,
	[date_added] [datetime] NOT NULL,
	[date_modified] [datetime] NULL,
	[auth_token] [nvarchar](128) NULL,
	[birth_date] [datetime] NULL,
	[will_share_data] [bit] NULL,
	[will_provide_feedback] [bit] NULL,
	[unique_id] [nvarchar](128) NULL,
	[device_token] [nvarchar](128) NULL,
 CONSTRAINT [pk_account] PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[account_blood_pressure_engage]    Script Date: 7/7/2014 5:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_blood_pressure_engage](
	[account_blood_pressure_engage_id] [int] IDENTITY(1,1) NOT NULL,
	[account_blood_pressure_management_id] [int] NULL,
	[account_id] [int] NOT NULL,
	[sys] [int] NOT NULL,
	[dia] [int] NOT NULL,
	[pulse] [int] NOT NULL,
	[reminder_date] [datetime] NOT NULL,
	[comment] [nvarchar](512) NULL,
	[date_added] [datetime] NOT NULL,
	[delete_flag] [bit] NULL,
 CONSTRAINT [pk_account_blood_pressure_engage] PRIMARY KEY CLUSTERED 
(
	[account_blood_pressure_engage_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[account_blood_pressure_management]    Script Date: 7/7/2014 5:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_blood_pressure_management](
	[account_blood_pressure_management_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[reminder_for] [nvarchar](128) NULL,
	[reminder_begin_date] [datetime] NOT NULL,
	[reminder_end_date] [datetime] NOT NULL,
	[frequency_id] [int] NOT NULL,
	[date_added] [datetime] NOT NULL,
	[delete_flag] [bit] NULL,
 CONSTRAINT [PK_account_blood_pressure_management] PRIMARY KEY CLUSTERED 
(
	[account_blood_pressure_management_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[account_blood_pressure_management_schedule]    Script Date: 7/7/2014 5:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_blood_pressure_management_schedule](
	[account_blood_pressure_management_schedule_id] [int] IDENTITY(1,1) NOT NULL,
	[account_blood_pressure_management_id] [int] NULL,
	[reminder_time] [time](7) NOT NULL,
	[date_part_id] [int] NULL,
	[interval] [int] NULL,
	[date_added] [datetime] NOT NULL,
 CONSTRAINT [pk_account_blood_pressure_management_schedule] PRIMARY KEY CLUSTERED 
(
	[account_blood_pressure_management_schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[account_medication_engage]    Script Date: 7/7/2014 5:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_medication_engage](
	[account_medication_engage_id] [int] IDENTITY(1,1) NOT NULL,
	[account_medication_management_id] [int] NULL,
	[account_id] [int] NOT NULL,
	[response_id] [int] NOT NULL,
	[reminder_date] [datetime] NOT NULL,
	[comment] [nvarchar](512) NULL,
	[date_added] [datetime] NOT NULL,
 CONSTRAINT [PK_account_medication_engage] PRIMARY KEY CLUSTERED 
(
	[account_medication_engage_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[account_medication_management]    Script Date: 7/7/2014 5:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_medication_management](
	[account_medication_management_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[medication_name] [nvarchar](128) NOT NULL,
	[rx_number] [nvarchar](128) NOT NULL,
	[medication_method_id] [int] NULL,
	[medication_kind_id] [int] NULL,
	[notes] [nvarchar](128) NULL,
	[date_added] [datetime] NOT NULL,
 CONSTRAINT [PK_account_medication_management] PRIMARY KEY CLUSTERED 
(
	[account_medication_management_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[account_medication_management_reminder]    Script Date: 7/7/2014 5:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_medication_management_reminder](
	[account_medication_management_reminder_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[reminder_for] [nvarchar](128) NOT NULL,
	[reminder_begin_date] [datetime] NOT NULL,
	[reminder_end_date] [datetime] NOT NULL,
	[frequency_id] [int] NOT NULL,
	[medication_dosage_id] [int] NOT NULL,
	[dosage] [nvarchar](64) NOT NULL,
	[date_added] [datetime] NOT NULL,
	[delete_flag] [nchar](10) NOT NULL,
	[is_active] [bit] NULL,
 CONSTRAINT [PK_account_medication_management_reminder] PRIMARY KEY CLUSTERED 
(
	[account_medication_management_reminder_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[account_medication_management_schedule]    Script Date: 7/7/2014 5:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_medication_management_schedule](
	[account_medication_management_schedule_id] [int] IDENTITY(1,1) NOT NULL,
	[account_medication_management_id] [int] NULL,
	[account_medication_management_reminder_id] [int] NULL,
	[reminder_time] [time](7) NOT NULL,
	[date_part_id] [int] NULL,
	[interval] [int] NULL,
	[date_added] [datetime] NOT NULL,
 CONSTRAINT [pk_account_medication_management_schedule] PRIMARY KEY CLUSTERED 
(
	[account_medication_management_schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[account_reminder_medication_relation]    Script Date: 7/7/2014 5:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_reminder_medication_relation](
	[account_reminder_medication_relation_id] [int] IDENTITY(1,1) NOT NULL,
	[account_medication_management_reminder_id] [int] NOT NULL,
	[account_medication_management_id] [int] NOT NULL,
	[date_added] [datetime] NOT NULL,
 CONSTRAINT [PK_account_reminder_medication_relation] PRIMARY KEY CLUSTERED 
(
	[account_reminder_medication_relation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[account_role]    Script Date: 7/7/2014 5:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_role](
	[account_role_id] [int] NOT NULL,
	[role_name] [nvarchar](128) NULL,
 CONSTRAINT [pk_account_role] PRIMARY KEY CLUSTERED 
(
	[account_role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[account_to_security_question]    Script Date: 7/7/2014 5:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_to_security_question](
	[account_id] [int] NOT NULL,
	[security_question_id] [int] NOT NULL,
	[answer] [nvarchar](128) NULL,
	[date_added] [datetime] NOT NULL,
 CONSTRAINT [pk_account_to_security_question] PRIMARY KEY CLUSTERED 
(
	[account_id] ASC,
	[security_question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[client_naavis_databases]    Script Date: 7/7/2014 5:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[client_naavis_databases](
	[client_id] [int] NOT NULL,
	[client_database_id] [int] IDENTITY(1,1) NOT NULL,
	[address_1] [nvarchar](128) NULL,
	[address_2] [nvarchar](128) NULL,
	[city] [nvarchar](128) NULL,
	[state] [nvarchar](64) NULL,
	[postal_code] [nvarchar](64) NULL,
	[country] [nvarchar](64) NULL,
 CONSTRAINT [PK_client_naavis_databases] PRIMARY KEY CLUSTERED 
(
	[client_database_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[date_part]    Script Date: 7/7/2014 5:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[date_part](
	[date_part_id] [int] NOT NULL,
	[date_part_description] [nvarchar](128) NULL,
	[date_part] [nvarchar](64) NOT NULL,
 CONSTRAINT [pk_date_part] PRIMARY KEY CLUSTERED 
(
	[date_part_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[frequency]    Script Date: 7/7/2014 5:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[frequency](
	[frequency_id] [int] NOT NULL,
	[frequency] [nvarchar](128) NOT NULL,
	[date_part_id] [int] NULL,
	[interval] [int] NULL,
 CONSTRAINT [pk_frequency] PRIMARY KEY CLUSTERED 
(
	[frequency_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[hospital_notice]    Script Date: 7/7/2014 5:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hospital_notice](
	[hospital_notice_id] [int] IDENTITY(1,1) NOT NULL,
	[client_database_id] [int] NULL,
	[begin_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[notice_message] [nvarchar](max) NULL,
	[account_role_id] [int] NULL,
 CONSTRAINT [PK_hospital_notice] PRIMARY KEY CLUSTERED 
(
	[hospital_notice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[hospital_provider]    Script Date: 7/7/2014 5:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hospital_provider](
	[client_database_id] [int] NOT NULL,
	[source_id] [nvarchar](64) NOT NULL,
	[provider_id] [nvarchar](64) NOT NULL,
	[first_name] [nvarchar](128) NOT NULL,
	[last_name] [nvarchar](128) NOT NULL,
	[suffix] [nvarchar](64) NULL,
	[specialty] [nvarchar](64) NOT NULL,
	[address_1] [nvarchar](128) NOT NULL,
	[address_2] [nvarchar](128) NULL,
	[city] [nvarchar](128) NOT NULL,
	[state] [nvarchar](8) NOT NULL,
	[postal_code] [nvarchar](64) NOT NULL,
	[contact_phone_number] [nvarchar](64) NOT NULL,
	[contact_phone_extention] [nvarchar](64) NULL,
	[fax_number] [nvarchar](64) NULL,
	[contact_email] [nvarchar](64) NULL,
	[date_added] [datetime] NOT NULL,
	[date_modified] [datetime] NULL,
	[account_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[hospital_service]    Script Date: 7/7/2014 5:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hospital_service](
	[client_database_id] [int] NOT NULL,
	[source_id] [nvarchar](64) NOT NULL,
	[service_group] [nvarchar](64) NOT NULL,
	[service_id] [nvarchar](128) NOT NULL,
	[service] [nvarchar](128) NOT NULL,
	[contact_phone_number] [nvarchar](64) NOT NULL,
	[contact_phone_extention] [nvarchar](64) NULL,
	[contact_email] [nvarchar](64) NULL,
	[date_added] [datetime] NOT NULL,
	[date_modified] [datetime] NULL,
 CONSTRAINT [pk_hospital_service] PRIMARY KEY CLUSTERED 
(
	[client_database_id] ASC,
	[source_id] ASC,
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[medication_dosage]    Script Date: 7/7/2014 5:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medication_dosage](
	[medication_dosage_id] [int] NOT NULL,
	[medication_dosage] [nvarchar](128) NULL,
 CONSTRAINT [pk_medication_dosage] PRIMARY KEY CLUSTERED 
(
	[medication_dosage_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[medication_kind]    Script Date: 7/7/2014 5:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medication_kind](
	[medication_kind_id] [int] NOT NULL,
	[medication_kind] [nvarchar](128) NULL,
 CONSTRAINT [pk_medication_kind] PRIMARY KEY CLUSTERED 
(
	[medication_kind_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[medication_method]    Script Date: 7/7/2014 5:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medication_method](
	[medication_method_id] [int] NOT NULL,
	[medication_method] [nvarchar](128) NULL,
 CONSTRAINT [pk_medication_method] PRIMARY KEY CLUSTERED 
(
	[medication_method_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[patient_appointment_request]    Script Date: 7/7/2014 5:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patient_appointment_request](
	[patient_appointment_request_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[appointment_date] [date] NOT NULL,
	[appointment_time] [time](7) NOT NULL,
	[contact_phone] [nvarchar](64) NOT NULL,
	[contact_email] [nvarchar](64) NOT NULL,
	[provider_id] [nvarchar](64) NULL,
	[comment] [nvarchar](512) NULL,
	[request_sent_date] [datetime] NULL,
	[date_added] [datetime] NOT NULL,
	[patient_name] [nvarchar](64) NULL,
	[confirm_date] [datetime] NULL,
	[confirmed_by] [nvarchar](128) NULL,
 CONSTRAINT [pk_patient_appointment_request] PRIMARY KEY CLUSTERED 
(
	[patient_appointment_request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[patient_feedback]    Script Date: 7/7/2014 5:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patient_feedback](
	[patient_feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[patient_visit_id] [int] NOT NULL,
	[visit_rating] [int] NOT NULL,
	[recovery_rating] [int] NOT NULL,
	[comment] [nvarchar](512) NULL,
	[last_viewed_date] [datetime] NULL,
	[last_viewed_by_acount_id] [int] NULL,
	[date_added] [datetime] NOT NULL,
 CONSTRAINT [pk_patient_feedback] PRIMARY KEY CLUSTERED 
(
	[patient_feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[patient_lab]    Script Date: 7/7/2014 5:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patient_lab](
	[client_database_id] [int] NOT NULL,
	[source_id] [nvarchar](64) NOT NULL,
	[unit_number] [nvarchar](128) NOT NULL,
	[account_number] [nvarchar](128) NOT NULL,
	[specimen_id] [nvarchar](128) NOT NULL,
	[test_number] [nvarchar](128) NOT NULL,
	[test_mnemonic] [nvarchar](128) NOT NULL,
	[test_name] [nvarchar](128) NOT NULL,
	[test_result] [nvarchar](128) NOT NULL,
	[test_unit] [nvarchar](64) NOT NULL,
	[result_date] [datetime] NOT NULL,
	[date_added] [datetime] NOT NULL,
 CONSTRAINT [pk_patient_lab] PRIMARY KEY CLUSTERED 
(
	[client_database_id] ASC,
	[source_id] ASC,
	[unit_number] ASC,
	[specimen_id] ASC,
	[test_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[patient_prescription]    Script Date: 7/7/2014 5:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[patient_prescription](
	[client_database_id] [int] NOT NULL,
	[source_id] [nvarchar](64) NOT NULL,
	[unit_number] [nvarchar](128) NOT NULL,
	[account_number] [nvarchar](128) NOT NULL,
	[prescription_id] [int] NOT NULL,
	[drug_id] [nvarchar](64) NOT NULL,
	[drug_name] [nvarchar](128) NOT NULL,
	[drug_type] [nvarchar](64) NULL,
	[drug_status] [nvarchar](64) NULL,
	[issued_date] [datetime] NOT NULL,
	[discontinued_date] [datetime] NULL,
	[date_added] [datetime] NOT NULL,
	[dose] [varchar](29) NULL,
 CONSTRAINT [pk_patient_prescription] PRIMARY KEY CLUSTERED 
(
	[client_database_id] ASC,
	[source_id] ASC,
	[unit_number] ASC,
	[prescription_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[patient_verification]    Script Date: 7/7/2014 5:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patient_verification](
	[client_database_id] [int] NOT NULL,
	[source_id] [nvarchar](64) NOT NULL,
	[unit_number] [nvarchar](128) NOT NULL,
	[first_name] [nvarchar](128) NOT NULL,
	[last_name] [nvarchar](128) NOT NULL,
	[birth_date] [datetime] NOT NULL,
	[date_validated] [datetime] NULL,
	[account_id] [int] NULL,
	[date_added] [datetime] NOT NULL,
	[date_modified] [datetime] NULL,
 CONSTRAINT [pk_patient_verification] PRIMARY KEY CLUSTERED 
(
	[client_database_id] ASC,
	[source_id] ASC,
	[unit_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[patient_verification_log]    Script Date: 7/7/2014 5:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patient_verification_log](
	[client_database_id] [int] NOT NULL,
	[source_id] [nvarchar](64) NOT NULL,
	[unit_number] [nvarchar](128) NOT NULL,
	[ssn] [nvarchar](128) NULL,
	[first_name] [nvarchar](128) NOT NULL,
	[last_name] [nvarchar](128) NOT NULL,
	[birth_date] [datetime] NOT NULL,
	[date_verified] [datetime] NULL,
	[account_id] [int] NULL,
	[date_added] [datetime] NOT NULL,
 CONSTRAINT [pk_patient_verification_log] PRIMARY KEY CLUSTERED 
(
	[client_database_id] ASC,
	[source_id] ASC,
	[unit_number] ASC,
	[date_added] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[patient_visit]    Script Date: 7/7/2014 5:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patient_visit](
	[patient_visit_id] [int] IDENTITY(1,1) NOT NULL,
	[client_database_id] [int] NOT NULL,
	[source_id] [nvarchar](64) NOT NULL,
	[unit_number] [nvarchar](128) NOT NULL,
	[account_number] [nvarchar](128) NOT NULL,
	[first_name] [nvarchar](128) NOT NULL,
	[middle_name] [nvarchar](128) NULL,
	[last_name] [nvarchar](128) NOT NULL,
	[visit_date] [datetime] NOT NULL,
	[location] [nvarchar](128) NOT NULL,
	[admit_date] [datetime] NOT NULL,
	[discharge_date] [datetime] NULL,
	[attending_physician_name] [nvarchar](128) NOT NULL,
	[provider_id] [nvarchar](64) NOT NULL,
 CONSTRAINT [pk_patient_visit] PRIMARY KEY CLUSTERED 
(
	[patient_visit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[response]    Script Date: 7/7/2014 5:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[response](
	[response_id] [int] NOT NULL,
	[response] [nvarchar](128) NULL,
 CONSTRAINT [pk_response] PRIMARY KEY CLUSTERED 
(
	[response_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[security_question]    Script Date: 7/7/2014 5:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[security_question](
	[security_question_id] [int] NOT NULL,
	[question] [nvarchar](128) NULL,
	[is_active] [bit] NULL,
	[date_added] [datetime] NOT NULL,
 CONSTRAINT [pk_security_question] PRIMARY KEY CLUSTERED 
(
	[security_question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[account] ON 

INSERT [dbo].[account] ([client_database_id], [account_id], [account_name], [password], [unit_number], [date_verified], [first_name], [last_name], [email], [mobile_phone_number], [failed_login_attempts], [last_login_date], [disable_date], [account_role_id], [date_added], [date_modified], [auth_token], [birth_date], [will_share_data], [will_provide_feedback], [unique_id], [device_token]) VALUES (1, 1, N'wwong', N'abc123', N'M323458787', NULL, N'Wil', N'Wong', N'w@versaworks.com', N'408-780-0230', 0, NULL, NULL, 1, CAST(0x0000A31400A4C93D AS DateTime), NULL, NULL, NULL, 1, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[account] OFF
SET IDENTITY_INSERT [dbo].[account_blood_pressure_engage] ON 

INSERT [dbo].[account_blood_pressure_engage] ([account_blood_pressure_engage_id], [account_blood_pressure_management_id], [account_id], [sys], [dia], [pulse], [reminder_date], [comment], [date_added], [delete_flag]) VALUES (1, NULL, 63, 100, 100, 100, CAST(0x0000A36100A78AA0 AS DateTime), N'High', CAST(0x0000A35500ADAA8E AS DateTime), 1)
INSERT [dbo].[account_blood_pressure_engage] ([account_blood_pressure_engage_id], [account_blood_pressure_management_id], [account_id], [sys], [dia], [pulse], [reminder_date], [comment], [date_added], [delete_flag]) VALUES (2, NULL, 63, 150, 150, 150, CAST(0x0000A36100860880 AS DateTime), N'blood pressure', CAST(0x0000A35500AA1E0B AS DateTime), 0)
INSERT [dbo].[account_blood_pressure_engage] ([account_blood_pressure_engage_id], [account_blood_pressure_management_id], [account_id], [sys], [dia], [pulse], [reminder_date], [comment], [date_added], [delete_flag]) VALUES (3, NULL, 63, 120, 120, 120, CAST(0x0000A36100860880 AS DateTime), N'blood pressure', CAST(0x0000A35500AA2BD5 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[account_blood_pressure_engage] OFF
SET IDENTITY_INSERT [dbo].[account_blood_pressure_management] ON 

INSERT [dbo].[account_blood_pressure_management] ([account_blood_pressure_management_id], [account_id], [is_active], [reminder_for], [reminder_begin_date], [reminder_end_date], [frequency_id], [date_added], [delete_flag]) VALUES (1, 63, 0, N'Dheeraj', CAST(0x0000A36500000000 AS DateTime), CAST(0x0000A4D200000000 AS DateTime), 2, CAST(0x0000A358010F445F AS DateTime), 0)
INSERT [dbo].[account_blood_pressure_management] ([account_blood_pressure_management_id], [account_id], [is_active], [reminder_for], [reminder_begin_date], [reminder_end_date], [frequency_id], [date_added], [delete_flag]) VALUES (2, 63, 0, N'Preet', CAST(0x0000A37100000000 AS DateTime), CAST(0x0000A4DE00000000 AS DateTime), 1, CAST(0x0000A35A00A2D6C4 AS DateTime), 0)
INSERT [dbo].[account_blood_pressure_management] ([account_blood_pressure_management_id], [account_id], [is_active], [reminder_for], [reminder_begin_date], [reminder_end_date], [frequency_id], [date_added], [delete_flag]) VALUES (3, 63, 1, N'Preet', CAST(0x0000A37100000000 AS DateTime), CAST(0x0000A4DE00000000 AS DateTime), 1, CAST(0x0000A35D00F8C779 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[account_blood_pressure_management] OFF
SET IDENTITY_INSERT [dbo].[account_blood_pressure_management_schedule] ON 

INSERT [dbo].[account_blood_pressure_management_schedule] ([account_blood_pressure_management_schedule_id], [account_blood_pressure_management_id], [reminder_time], [date_part_id], [interval], [date_added]) VALUES (4, 1, CAST(0x0700CC4C37550000 AS Time), 2, 2, CAST(0x0000A358010F446D AS DateTime))
INSERT [dbo].[account_blood_pressure_management_schedule] ([account_blood_pressure_management_schedule_id], [account_blood_pressure_management_id], [reminder_time], [date_part_id], [interval], [date_added]) VALUES (5, 1, CAST(0x0700CC4C37550000 AS Time), 2, 2, CAST(0x0000A358010F44C3 AS DateTime))
INSERT [dbo].[account_blood_pressure_management_schedule] ([account_blood_pressure_management_schedule_id], [account_blood_pressure_management_id], [reminder_time], [date_part_id], [interval], [date_added]) VALUES (6, 2, CAST(0x070066A69B2A0000 AS Time), 1, 1, CAST(0x0000A35A00A2D712 AS DateTime))
SET IDENTITY_INSERT [dbo].[account_blood_pressure_management_schedule] OFF
SET IDENTITY_INSERT [dbo].[account_medication_engage] ON 

INSERT [dbo].[account_medication_engage] ([account_medication_engage_id], [account_medication_management_id], [account_id], [response_id], [reminder_date], [comment], [date_added]) VALUES (1, 0, 63, 1, CAST(0x0000A32700229B60 AS DateTime), N'will take now', CAST(0x0000A35801225187 AS DateTime))
SET IDENTITY_INSERT [dbo].[account_medication_engage] OFF
SET IDENTITY_INSERT [dbo].[account_medication_management] ON 

INSERT [dbo].[account_medication_management] ([account_medication_management_id], [account_id], [medication_name], [rx_number], [medication_method_id], [medication_kind_id], [notes], [date_added]) VALUES (1, 63, N'DCold', N'DCold12354', 1, 1, N'Take twice', CAST(0x0000A35500AEE9F4 AS DateTime))
INSERT [dbo].[account_medication_management] ([account_medication_management_id], [account_id], [medication_name], [rx_number], [medication_method_id], [medication_kind_id], [notes], [date_added]) VALUES (2, 63, N'Paracetamol', N'Paracetamol1254', 1, 1, N'Twice a day', CAST(0x0000A35500F8BE65 AS DateTime))
INSERT [dbo].[account_medication_management] ([account_medication_management_id], [account_id], [medication_name], [rx_number], [medication_method_id], [medication_kind_id], [notes], [date_added]) VALUES (3, 63, N'Paracetamol', N'Paracetamol1254', 1, 1, N'Twice a day', CAST(0x0000A35601031EFC AS DateTime))
SET IDENTITY_INSERT [dbo].[account_medication_management] OFF
SET IDENTITY_INSERT [dbo].[account_medication_management_reminder] ON 

INSERT [dbo].[account_medication_management_reminder] ([account_medication_management_reminder_id], [account_id], [reminder_for], [reminder_begin_date], [reminder_end_date], [frequency_id], [medication_dosage_id], [dosage], [date_added], [delete_flag], [is_active]) VALUES (1, 63, N'Vishva', CAST(0x0000A3CA00000000 AS DateTime), CAST(0x0000A55600000000 AS DateTime), 2, 1, N'2', CAST(0x0000A35801415C69 AS DateTime), N'0         ', 1)
INSERT [dbo].[account_medication_management_reminder] ([account_medication_management_reminder_id], [account_id], [reminder_for], [reminder_begin_date], [reminder_end_date], [frequency_id], [medication_dosage_id], [dosage], [date_added], [delete_flag], [is_active]) VALUES (6, 63, N'Dheeraj', CAST(0x0000A36100000000 AS DateTime), CAST(0x0000A36100000000 AS DateTime), 1, 1, N'2', CAST(0x0000A3550101BE0A AS DateTime), N'0         ', 1)
INSERT [dbo].[account_medication_management_reminder] ([account_medication_management_reminder_id], [account_id], [reminder_for], [reminder_begin_date], [reminder_end_date], [frequency_id], [medication_dosage_id], [dosage], [date_added], [delete_flag], [is_active]) VALUES (7, 63, N'Preet', CAST(0x0000A36100000000 AS DateTime), CAST(0x0000A36100000000 AS DateTime), 1, 1, N'2', CAST(0x0000A35601027957 AS DateTime), N'0         ', 1)
SET IDENTITY_INSERT [dbo].[account_medication_management_reminder] OFF
SET IDENTITY_INSERT [dbo].[account_medication_management_schedule] ON 

INSERT [dbo].[account_medication_management_schedule] ([account_medication_management_schedule_id], [account_medication_management_id], [account_medication_management_reminder_id], [reminder_time], [date_part_id], [interval], [date_added]) VALUES (1, NULL, 6, CAST(0x070066A69B2A0000 AS Time), 1, 1, CAST(0x0000A3550101BE20 AS DateTime))
INSERT [dbo].[account_medication_management_schedule] ([account_medication_management_schedule_id], [account_medication_management_id], [account_medication_management_reminder_id], [reminder_time], [date_part_id], [interval], [date_added]) VALUES (2, NULL, 6, CAST(0x070066A69B2A0000 AS Time), 1, 1, CAST(0x0000A3550101BE23 AS DateTime))
INSERT [dbo].[account_medication_management_schedule] ([account_medication_management_schedule_id], [account_medication_management_id], [account_medication_management_reminder_id], [reminder_time], [date_part_id], [interval], [date_added]) VALUES (4, NULL, 7, CAST(0x070066A69B2A0000 AS Time), 1, 1, CAST(0x0000A35601027A09 AS DateTime))
SET IDENTITY_INSERT [dbo].[account_medication_management_schedule] OFF
SET IDENTITY_INSERT [dbo].[account_reminder_medication_relation] ON 

INSERT [dbo].[account_reminder_medication_relation] ([account_reminder_medication_relation_id], [account_medication_management_reminder_id], [account_medication_management_id], [date_added]) VALUES (1, 6, 1, CAST(0x0000A3550101BE1C AS DateTime))
INSERT [dbo].[account_reminder_medication_relation] ([account_reminder_medication_relation_id], [account_medication_management_reminder_id], [account_medication_management_id], [date_added]) VALUES (2, 6, 2, CAST(0x0000A3550101BE1F AS DateTime))
INSERT [dbo].[account_reminder_medication_relation] ([account_reminder_medication_relation_id], [account_medication_management_reminder_id], [account_medication_management_id], [date_added]) VALUES (4, 7, 1, CAST(0x0000A356010279D6 AS DateTime))
SET IDENTITY_INSERT [dbo].[account_reminder_medication_relation] OFF
INSERT [dbo].[account_role] ([account_role_id], [role_name]) VALUES (1, N'Casual')
INSERT [dbo].[account_role] ([account_role_id], [role_name]) VALUES (2, N'Account')
INSERT [dbo].[account_role] ([account_role_id], [role_name]) VALUES (3, N'Patient')
INSERT [dbo].[account_to_security_question] ([account_id], [security_question_id], [answer], [date_added]) VALUES (1, 1, N'Wil', CAST(0x0000A31400A4C945 AS DateTime))
INSERT [dbo].[account_to_security_question] ([account_id], [security_question_id], [answer], [date_added]) VALUES (62, 1, N'aaa', CAST(0x0000A32E00EFF470 AS DateTime))
INSERT [dbo].[account_to_security_question] ([account_id], [security_question_id], [answer], [date_added]) VALUES (62, 2, N'aaa', CAST(0x0000A32E00EFF470 AS DateTime))
SET IDENTITY_INSERT [dbo].[client_naavis_databases] ON 

INSERT [dbo].[client_naavis_databases] ([client_id], [client_database_id], [address_1], [address_2], [city], [state], [postal_code], [country]) VALUES (1, 1, N'2560 Mission College Blvd.', NULL, N'Santa Clara', N'CA', N'95054', N'US')
SET IDENTITY_INSERT [dbo].[client_naavis_databases] OFF
INSERT [dbo].[date_part] ([date_part_id], [date_part_description], [date_part]) VALUES (1, N'Hour', N'hh')
INSERT [dbo].[date_part] ([date_part_id], [date_part_description], [date_part]) VALUES (2, N'Day', N'd')
INSERT [dbo].[date_part] ([date_part_id], [date_part_description], [date_part]) VALUES (3, N'Week', N'wk')
INSERT [dbo].[frequency] ([frequency_id], [frequency], [date_part_id], [interval]) VALUES (1, N'One Time Only', NULL, 0)
INSERT [dbo].[frequency] ([frequency_id], [frequency], [date_part_id], [interval]) VALUES (2, N'Every 12 hours', 1, 12)
INSERT [dbo].[frequency] ([frequency_id], [frequency], [date_part_id], [interval]) VALUES (3, N'Every day', 2, 1)
SET IDENTITY_INSERT [dbo].[hospital_notice] ON 

INSERT [dbo].[hospital_notice] ([hospital_notice_id], [client_database_id], [begin_date], [end_date], [notice_message], [account_role_id]) VALUES (1003, 1, CAST(0x0000A31400A4C93D AS DateTime), CAST(0x0000A31400A4C93D AS DateTime), N'message1', 1)
INSERT [dbo].[hospital_notice] ([hospital_notice_id], [client_database_id], [begin_date], [end_date], [notice_message], [account_role_id]) VALUES (1004, 1, CAST(0x0000A31400A4C93D AS DateTime), CAST(0x0000A31400A4C93D AS DateTime), N'message2', 1)
INSERT [dbo].[hospital_notice] ([hospital_notice_id], [client_database_id], [begin_date], [end_date], [notice_message], [account_role_id]) VALUES (1005, 1, CAST(0x0000A334009C8E20 AS DateTime), CAST(0x0000A353011DA500 AS DateTime), N'Eye checkup camp', 3)
SET IDENTITY_INSERT [dbo].[hospital_notice] OFF
INSERT [dbo].[hospital_provider] ([client_database_id], [source_id], [provider_id], [first_name], [last_name], [suffix], [specialty], [address_1], [address_2], [city], [state], [postal_code], [contact_phone_number], [contact_phone_extention], [fax_number], [contact_email], [date_added], [date_modified], [account_id]) VALUES (1, N'NMA', N'ANDEMA', N'Nikhil', N'Kumar', N'DC', N'Radiology', N'2560 Mission College Blvd', N'2560 Mission College Blvd', N'Santa Clara', N'GA', N'8989', N'66775', N'46', N'456', N'nikhil@versaworks.com', CAST(0x0000A31400A4CA28 AS DateTime), NULL, 2063)
INSERT [dbo].[hospital_provider] ([client_database_id], [source_id], [provider_id], [first_name], [last_name], [suffix], [specialty], [address_1], [address_2], [city], [state], [postal_code], [contact_phone_number], [contact_phone_extention], [fax_number], [contact_email], [date_added], [date_modified], [account_id]) VALUES (1, N'NMA', N'ANDEMB', N'Ashish', N'Singh', N'AP', N'Cadiology', N'2560 Mission College Blvd', N'2560 Mission College Blvd', N'Santa Clara', N'GA', N'1212123', N'667723235', N'46676', N'457786', N'ashish@versaworks.com', CAST(0x0000A31400A4CA28 AS DateTime), NULL, 2066)
INSERT [dbo].[hospital_provider] ([client_database_id], [source_id], [provider_id], [first_name], [last_name], [suffix], [specialty], [address_1], [address_2], [city], [state], [postal_code], [contact_phone_number], [contact_phone_extention], [fax_number], [contact_email], [date_added], [date_modified], [account_id]) VALUES (1, N'NMA', N'ANDEMC', N'Raj', N'Sharma', N'DP', N'Cadiology', N'2560 Mission College Blvd', N'2560 Mission College Blvd', N'Santa Clara', N'GA', N'122', N'454', N'877', N'987', N'raj@versaworks.com', CAST(0x0000A31400A4CA28 AS DateTime), NULL, 2064)
INSERT [dbo].[hospital_service] ([client_database_id], [source_id], [service_group], [service_id], [service], [contact_phone_number], [contact_phone_extention], [contact_email], [date_added], [date_modified]) VALUES (1, N'NMAA', N'E', N'ED', N'Emergency Department', N'555-555-1234', N'100', N'hospital@versaworks.com', CAST(0x0000A31400A4CA2D AS DateTime), CAST(0x0000A31400A4CA2D AS DateTime))
INSERT [dbo].[hospital_service] ([client_database_id], [source_id], [service_group], [service_id], [service], [contact_phone_number], [contact_phone_extention], [contact_email], [date_added], [date_modified]) VALUES (1, N'NMB', N'E', N'EDB', N'Business Office', N'1248548795', N'122', N'business@versaworks.com', CAST(0x0000A31400A4CA2D AS DateTime), CAST(0x0000A31400A4CA2D AS DateTime))
INSERT [dbo].[hospital_service] ([client_database_id], [source_id], [service_group], [service_id], [service], [contact_phone_number], [contact_phone_extention], [contact_email], [date_added], [date_modified]) VALUES (1, N'NMC', N'E', N'ED', N'Emergency Department', N'555-555-1234', N'100', N'emergency@versaworks.com', CAST(0x0000A31400A4CA2D AS DateTime), CAST(0x0000A31400A4CA2D AS DateTime))
INSERT [dbo].[medication_dosage] ([medication_dosage_id], [medication_dosage]) VALUES (1, N'pills')
INSERT [dbo].[medication_dosage] ([medication_dosage_id], [medication_dosage]) VALUES (2, N'drops')
INSERT [dbo].[medication_dosage] ([medication_dosage_id], [medication_dosage]) VALUES (3, N'tsp')
INSERT [dbo].[medication_kind] ([medication_kind_id], [medication_kind]) VALUES (1, N'Pill')
INSERT [dbo].[medication_kind] ([medication_kind_id], [medication_kind]) VALUES (2, N'Tablet')
INSERT [dbo].[medication_kind] ([medication_kind_id], [medication_kind]) VALUES (3, N'Capsule')
INSERT [dbo].[medication_method] ([medication_method_id], [medication_method]) VALUES (1, N'Oral')
INSERT [dbo].[medication_method] ([medication_method_id], [medication_method]) VALUES (2, N'Buccal')
INSERT [dbo].[medication_method] ([medication_method_id], [medication_method]) VALUES (3, N'Periodontal')
SET IDENTITY_INSERT [dbo].[patient_appointment_request] ON 

INSERT [dbo].[patient_appointment_request] ([patient_appointment_request_id], [account_id], [appointment_date], [appointment_time], [contact_phone], [contact_email], [provider_id], [comment], [request_sent_date], [date_added], [patient_name], [confirm_date], [confirmed_by]) VALUES (1, 1, CAST(0x6E380B00 AS Date), CAST(0x070040230E430000 AS Time), N'555-555-1234', N'info@versaworks.com', N'ANDEM', N'Mark Anderson is my primary physician', NULL, CAST(0x0000A31400A4CA32 AS DateTime), N'sujeet', NULL, NULL)
INSERT [dbo].[patient_appointment_request] ([patient_appointment_request_id], [account_id], [appointment_date], [appointment_time], [contact_phone], [contact_email], [provider_id], [comment], [request_sent_date], [date_added], [patient_name], [confirm_date], [confirmed_by]) VALUES (1039, 2071, CAST(0x3AF90A00 AS Date), CAST(0x07003CB8192E0000 AS Time), N'9711914755', N'ss@gmail.com', N'ash', N' Hi', CAST(0x0000A32C00D327BF AS DateTime), CAST(0x0000A32C00D327BF AS DateTime), N'sujeet', NULL, NULL)
INSERT [dbo].[patient_appointment_request] ([patient_appointment_request_id], [account_id], [appointment_date], [appointment_time], [contact_phone], [contact_email], [provider_id], [comment], [request_sent_date], [date_added], [patient_name], [confirm_date], [confirmed_by]) VALUES (1041, 2071, CAST(0x2EF90A00 AS Date), CAST(0x07003CB8192E0000 AS Time), N'9717255563', N'reer@gmail.com', N'ash', N'Please approve', CAST(0x0000A32C00E8909F AS DateTime), CAST(0x0000A32C00E8909F AS DateTime), N'Reer', NULL, NULL)
SET IDENTITY_INSERT [dbo].[patient_appointment_request] OFF
SET IDENTITY_INSERT [dbo].[patient_feedback] ON 

INSERT [dbo].[patient_feedback] ([patient_feedback_id], [patient_visit_id], [visit_rating], [recovery_rating], [comment], [last_viewed_date], [last_viewed_by_acount_id], [date_added]) VALUES (2, 1, 3, 4, N'Fully Satisfied, Good Job', CAST(0x0000A32C00CF416C AS DateTime), 1, CAST(0x0000A32C00CF416C AS DateTime))
INSERT [dbo].[patient_feedback] ([patient_feedback_id], [patient_visit_id], [visit_rating], [recovery_rating], [comment], [last_viewed_date], [last_viewed_by_acount_id], [date_added]) VALUES (2016, 8, 4, 3, N'Very good doctor', CAST(0x0000A332010BF08C AS DateTime), 1, CAST(0x0000A332010BF08C AS DateTime))
INSERT [dbo].[patient_feedback] ([patient_feedback_id], [patient_visit_id], [visit_rating], [recovery_rating], [comment], [last_viewed_date], [last_viewed_by_acount_id], [date_added]) VALUES (2034, 13, 2, 2, N'Good Physician', CAST(0x0000A33400CA02D8 AS DateTime), 1, CAST(0x0000A33400CA02D8 AS DateTime))
SET IDENTITY_INSERT [dbo].[patient_feedback] OFF
INSERT [dbo].[patient_lab] ([client_database_id], [source_id], [unit_number], [account_number], [specimen_id], [test_number], [test_mnemonic], [test_name], [test_result], [test_unit], [result_date], [date_added]) VALUES (1, N'NMC', N'M000111112', N'V111111112', N'471033', N'300.5150', N'SQUAM EPI', N'UR SQUAM EPI', N'mL', N'< 1', CAST(0x0000A312016BEC10 AS DateTime), CAST(0x0000A31400A4C993 AS DateTime))
INSERT [dbo].[patient_lab] ([client_database_id], [source_id], [unit_number], [account_number], [specimen_id], [test_number], [test_mnemonic], [test_name], [test_result], [test_unit], [result_date], [date_added]) VALUES (1, N'NMC', N'M000111112', N'V111111112', N'471033', N'300.5175', N'TREP', N'TRANSITIONAL EPITHELIAL', N'mL', N'NP', CAST(0x0000A312016BEC10 AS DateTime), CAST(0x0000A31400A4C993 AS DateTime))
INSERT [dbo].[patient_lab] ([client_database_id], [source_id], [unit_number], [account_number], [specimen_id], [test_number], [test_mnemonic], [test_name], [test_result], [test_unit], [result_date], [date_added]) VALUES (1, N'NMC', N'M000111112', N'V111111112', N'471033', N'300.5550', N'UCACARB', N'CALCIUM CARBONATE CRYSTALS,URN', N'mL', N'NP', CAST(0x0000A312016BEC10 AS DateTime), CAST(0x0000A31400A4C994 AS DateTime))
GO
INSERT [dbo].[patient_prescription] ([client_database_id], [source_id], [unit_number], [account_number], [prescription_id], [drug_id], [drug_name], [drug_type], [drug_status], [issued_date], [discontinued_date], [date_added], [dose]) VALUES (1, N'NMC', N'M000111112', N'V111111112', 320376, N'FNT.05A2', N'FNT.05A2', N'DC', N'P', CAST(0x0000A3120168E6A0 AS DateTime), CAST(0x0000000000000000 AS DateTime), CAST(0x0000A31400A4C95B AS DateTime), N'5 mg')
INSERT [dbo].[patient_prescription] ([client_database_id], [source_id], [unit_number], [account_number], [prescription_id], [drug_id], [drug_name], [drug_type], [drug_status], [issued_date], [discontinued_date], [date_added], [dose]) VALUES (1, N'NMC', N'M000111112', N'V111111112', 320377, N'FNT.05A2', N'FNT.05A2', N'DC', N'P', CAST(0x0000A3120168E6A0 AS DateTime), CAST(0x0000000000000000 AS DateTime), CAST(0x0000A31400A4C956 AS DateTime), N'5 mg')
INSERT [dbo].[patient_prescription] ([client_database_id], [source_id], [unit_number], [account_number], [prescription_id], [drug_id], [drug_name], [drug_type], [drug_status], [issued_date], [discontinued_date], [date_added], [dose]) VALUES (1, N'NMC', N'M000111112', N'V111111112', 320378, N'OXTPREMIX', N'OXTPREMIX', N'DC', N'P', CAST(0x0000A3120168E6A0 AS DateTime), CAST(0x0000000000000000 AS DateTime), CAST(0x0000A31400A4C95B AS DateTime), N'5 mg')
INSERT [dbo].[patient_verification] ([client_database_id], [source_id], [unit_number], [first_name], [last_name], [birth_date], [date_validated], [account_id], [date_added], [date_modified]) VALUES (1, N'MNC', N'M000111122', N'Preet', N'Singh', CAST(0x00007AB300000000 AS DateTime), NULL, NULL, CAST(0x0000A33901384950 AS DateTime), NULL)
INSERT [dbo].[patient_verification] ([client_database_id], [source_id], [unit_number], [first_name], [last_name], [birth_date], [date_validated], [account_id], [date_added], [date_modified]) VALUES (1, N'NMA', N'M323458787', N'Nidhi', N'Singh', CAST(0x00006B0100000000 AS DateTime), NULL, NULL, CAST(0x0000A31400A4C934 AS DateTime), NULL)
INSERT [dbo].[patient_verification] ([client_database_id], [source_id], [unit_number], [first_name], [last_name], [birth_date], [date_validated], [account_id], [date_added], [date_modified]) VALUES (1, N'NMC', N'M000111112', N'Wil', N'Wong', CAST(0x00006B0100000000 AS DateTime), NULL, NULL, CAST(0x0000A31400A4C934 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[patient_visit] ON 

INSERT [dbo].[patient_visit] ([patient_visit_id], [client_database_id], [source_id], [unit_number], [account_number], [first_name], [middle_name], [last_name], [visit_date], [location], [admit_date], [discharge_date], [attending_physician_name], [provider_id]) VALUES (1, 1, N'NMC', N'M000111112', N'V111111112', N'Wil', N'J', N'Wong', CAST(0x0000A1A700C4FB46 AS DateTime), N'LOC', CAST(0x0000A31400C4FB46 AS DateTime), CAST(0x0000A31400C4FB46 AS DateTime), N'Shawn', N'ANDEMS')
INSERT [dbo].[patient_visit] ([patient_visit_id], [client_database_id], [source_id], [unit_number], [account_number], [first_name], [middle_name], [last_name], [visit_date], [location], [admit_date], [discharge_date], [attending_physician_name], [provider_id]) VALUES (8, 1, N'NMC', N'M000111112', N'ACT1234567', N'Rahul', NULL, N'Gandhi', CAST(0x0000A3E100C99960 AS DateTime), N'Santaclara', CAST(0x0000A3CB00B80560 AS DateTime), CAST(0x0000A3CB00B80560 AS DateTime), N'Nikhil', N'ANDEMA')
INSERT [dbo].[patient_visit] ([patient_visit_id], [client_database_id], [source_id], [unit_number], [account_number], [first_name], [middle_name], [last_name], [visit_date], [location], [admit_date], [discharge_date], [attending_physician_name], [provider_id]) VALUES (12, 1, N'NMC', N'M000111112', N'ACT777543', N'Dheeraj', N'Borra', N'Borra', CAST(0x0000A2D000C9DFB0 AS DateTime), N'CA', CAST(0x0000A2D000C9DFB0 AS DateTime), CAST(0x0000A3E100C9DFB0 AS DateTime), N'Nidhi', N'ANDEMF')
SET IDENTITY_INSERT [dbo].[patient_visit] OFF
INSERT [dbo].[response] ([response_id], [response]) VALUES (1, N'Yes')
INSERT [dbo].[response] ([response_id], [response]) VALUES (2, N'No')
INSERT [dbo].[security_question] ([security_question_id], [question], [is_active], [date_added]) VALUES (1, N'What was your childhood nickname?', 1, CAST(0x0000A31400A4C94A AS DateTime))
INSERT [dbo].[security_question] ([security_question_id], [question], [is_active], [date_added]) VALUES (2, N'What was the make and model of your first car?', 1, CAST(0x0000A31400A4C94B AS DateTime))
INSERT [dbo].[security_question] ([security_question_id], [question], [is_active], [date_added]) VALUES (3, N'What is the name of your favorite childhood friend?', 1, CAST(0x0000A31400A4C94B AS DateTime))
SET ANSI_PADDING ON

GO
/****** Object:  Index [ix_patient_visit]    Script Date: 7/7/2014 5:41:43 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [ix_patient_visit] ON [dbo].[patient_visit]
(
	[client_database_id] ASC,
	[source_id] ASC,
	[unit_number] ASC,
	[account_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[account] ADD  CONSTRAINT [DF_account_failed_login_attemps]  DEFAULT ((0)) FOR [failed_login_attempts]
GO
ALTER TABLE [dbo].[account] ADD  CONSTRAINT [DF_account_date_account_role_id]  DEFAULT ((1)) FOR [account_role_id]
GO
ALTER TABLE [dbo].[account] ADD  CONSTRAINT [DF_account_date_added]  DEFAULT (getdate()) FOR [date_added]
GO
ALTER TABLE [dbo].[account_blood_pressure_engage] ADD  CONSTRAINT [DF_account_blood_pressure_engage_date_added]  DEFAULT (getdate()) FOR [date_added]
GO
ALTER TABLE [dbo].[account_blood_pressure_management] ADD  CONSTRAINT [DF_account_blood_pressure_management_date_added]  DEFAULT (getdate()) FOR [date_added]
GO
ALTER TABLE [dbo].[account_blood_pressure_management_schedule] ADD  CONSTRAINT [DF_account_blood_pressure_management_schedule_date_added]  DEFAULT (getdate()) FOR [date_added]
GO
ALTER TABLE [dbo].[account_medication_engage] ADD  CONSTRAINT [DF_account_medication_engage_date_added]  DEFAULT (getdate()) FOR [date_added]
GO
ALTER TABLE [dbo].[account_medication_management] ADD  CONSTRAINT [DF_account_medication_management_date_added]  DEFAULT (getdate()) FOR [date_added]
GO
ALTER TABLE [dbo].[account_to_security_question] ADD  CONSTRAINT [DF_account_to_security_question_date_added]  DEFAULT (getdate()) FOR [date_added]
GO
ALTER TABLE [dbo].[hospital_provider] ADD  CONSTRAINT [DF_hospital_provider_date_added]  DEFAULT (getdate()) FOR [date_added]
GO
ALTER TABLE [dbo].[hospital_service] ADD  CONSTRAINT [DF_hospital_service_date_added]  DEFAULT (getdate()) FOR [date_added]
GO
ALTER TABLE [dbo].[patient_appointment_request] ADD  CONSTRAINT [DF_patient_appointment_request_date_added]  DEFAULT (getdate()) FOR [date_added]
GO
ALTER TABLE [dbo].[patient_feedback] ADD  CONSTRAINT [DF_patient_feedback_date_added]  DEFAULT (getdate()) FOR [date_added]
GO
ALTER TABLE [dbo].[patient_lab] ADD  CONSTRAINT [DF_patient_lab_date_added]  DEFAULT (getdate()) FOR [date_added]
GO
ALTER TABLE [dbo].[patient_prescription] ADD  CONSTRAINT [DF_patient_prescription_date_added]  DEFAULT (getdate()) FOR [date_added]
GO
ALTER TABLE [dbo].[patient_verification] ADD  CONSTRAINT [DF_patient_verification_date_added]  DEFAULT (getdate()) FOR [date_added]
GO
ALTER TABLE [dbo].[patient_verification_log] ADD  CONSTRAINT [DF_patient_verification_log_date_added]  DEFAULT (getdate()) FOR [date_added]
GO
ALTER TABLE [dbo].[security_question] ADD  CONSTRAINT [DF_security_question_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[security_question] ADD  CONSTRAINT [DF_security_question_date_added]  DEFAULT (getdate()) FOR [date_added]
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD  CONSTRAINT [FK_account_account_role] FOREIGN KEY([account_role_id])
REFERENCES [dbo].[account_role] ([account_role_id])
GO
ALTER TABLE [dbo].[account] CHECK CONSTRAINT [FK_account_account_role]
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD  CONSTRAINT [FK_account_client_naavis_databases] FOREIGN KEY([client_database_id])
REFERENCES [dbo].[client_naavis_databases] ([client_database_id])
GO
ALTER TABLE [dbo].[account] CHECK CONSTRAINT [FK_account_client_naavis_databases]
GO
ALTER TABLE [dbo].[account_blood_pressure_management]  WITH CHECK ADD  CONSTRAINT [FK_account_blood_pressure_management_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[account_blood_pressure_management] CHECK CONSTRAINT [FK_account_blood_pressure_management_account]
GO
ALTER TABLE [dbo].[account_blood_pressure_management]  WITH CHECK ADD  CONSTRAINT [FK_account_blood_pressure_management_frequency] FOREIGN KEY([frequency_id])
REFERENCES [dbo].[frequency] ([frequency_id])
GO
ALTER TABLE [dbo].[account_blood_pressure_management] CHECK CONSTRAINT [FK_account_blood_pressure_management_frequency]
GO
ALTER TABLE [dbo].[account_blood_pressure_management_schedule]  WITH CHECK ADD  CONSTRAINT [FK_account_blood_pressure_management_schedule_date_part] FOREIGN KEY([date_part_id])
REFERENCES [dbo].[date_part] ([date_part_id])
GO
ALTER TABLE [dbo].[account_blood_pressure_management_schedule] CHECK CONSTRAINT [FK_account_blood_pressure_management_schedule_date_part]
GO
ALTER TABLE [dbo].[account_medication_engage]  WITH CHECK ADD  CONSTRAINT [FK_account_medication_engage_response] FOREIGN KEY([response_id])
REFERENCES [dbo].[response] ([response_id])
GO
ALTER TABLE [dbo].[account_medication_engage] CHECK CONSTRAINT [FK_account_medication_engage_response]
GO
ALTER TABLE [dbo].[account_medication_management]  WITH CHECK ADD  CONSTRAINT [FK_account_medication_management_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[account_medication_management] CHECK CONSTRAINT [FK_account_medication_management_account]
GO
ALTER TABLE [dbo].[account_medication_management]  WITH CHECK ADD  CONSTRAINT [FK_account_medication_management_medication_kind] FOREIGN KEY([medication_kind_id])
REFERENCES [dbo].[medication_kind] ([medication_kind_id])
GO
ALTER TABLE [dbo].[account_medication_management] CHECK CONSTRAINT [FK_account_medication_management_medication_kind]
GO
ALTER TABLE [dbo].[account_medication_management]  WITH CHECK ADD  CONSTRAINT [FK_account_medication_management_medication_method] FOREIGN KEY([medication_method_id])
REFERENCES [dbo].[medication_method] ([medication_method_id])
GO
ALTER TABLE [dbo].[account_medication_management] CHECK CONSTRAINT [FK_account_medication_management_medication_method]
GO
ALTER TABLE [dbo].[account_medication_management_reminder]  WITH CHECK ADD  CONSTRAINT [FK_account_medication_management_reminder_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[account_medication_management_reminder] CHECK CONSTRAINT [FK_account_medication_management_reminder_account]
GO
ALTER TABLE [dbo].[account_medication_management_reminder]  WITH CHECK ADD  CONSTRAINT [FK_account_medication_management_reminder_frequency] FOREIGN KEY([frequency_id])
REFERENCES [dbo].[frequency] ([frequency_id])
GO
ALTER TABLE [dbo].[account_medication_management_reminder] CHECK CONSTRAINT [FK_account_medication_management_reminder_frequency]
GO
ALTER TABLE [dbo].[account_medication_management_reminder]  WITH CHECK ADD  CONSTRAINT [FK_account_medication_management_reminder_medication_dosage] FOREIGN KEY([medication_dosage_id])
REFERENCES [dbo].[medication_dosage] ([medication_dosage_id])
GO
ALTER TABLE [dbo].[account_medication_management_reminder] CHECK CONSTRAINT [FK_account_medication_management_reminder_medication_dosage]
GO
ALTER TABLE [dbo].[account_medication_management_schedule]  WITH CHECK ADD  CONSTRAINT [FK_account_medication_management_schedule_account_medication_management_reminder] FOREIGN KEY([account_medication_management_reminder_id])
REFERENCES [dbo].[account_medication_management_reminder] ([account_medication_management_reminder_id])
GO
ALTER TABLE [dbo].[account_medication_management_schedule] CHECK CONSTRAINT [FK_account_medication_management_schedule_account_medication_management_reminder]
GO
ALTER TABLE [dbo].[account_medication_management_schedule]  WITH CHECK ADD  CONSTRAINT [FK_account_medication_management_schedule_date_part] FOREIGN KEY([date_part_id])
REFERENCES [dbo].[date_part] ([date_part_id])
GO
ALTER TABLE [dbo].[account_medication_management_schedule] CHECK CONSTRAINT [FK_account_medication_management_schedule_date_part]
GO
ALTER TABLE [dbo].[account_reminder_medication_relation]  WITH CHECK ADD  CONSTRAINT [FK_account_reminder_medication_relation_account_medication_management] FOREIGN KEY([account_medication_management_id])
REFERENCES [dbo].[account_medication_management] ([account_medication_management_id])
GO
ALTER TABLE [dbo].[account_reminder_medication_relation] CHECK CONSTRAINT [FK_account_reminder_medication_relation_account_medication_management]
GO
ALTER TABLE [dbo].[account_reminder_medication_relation]  WITH CHECK ADD  CONSTRAINT [FK_account_reminder_medication_relation_account_medication_management_reminder] FOREIGN KEY([account_medication_management_reminder_id])
REFERENCES [dbo].[account_medication_management_reminder] ([account_medication_management_reminder_id])
GO
ALTER TABLE [dbo].[account_reminder_medication_relation] CHECK CONSTRAINT [FK_account_reminder_medication_relation_account_medication_management_reminder]
GO
ALTER TABLE [dbo].[account_to_security_question]  WITH CHECK ADD  CONSTRAINT [FK_account_to_security_question_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[account_to_security_question] CHECK CONSTRAINT [FK_account_to_security_question_account]
GO
ALTER TABLE [dbo].[account_to_security_question]  WITH CHECK ADD  CONSTRAINT [FK_account_to_security_question_security_question] FOREIGN KEY([security_question_id])
REFERENCES [dbo].[security_question] ([security_question_id])
GO
ALTER TABLE [dbo].[account_to_security_question] CHECK CONSTRAINT [FK_account_to_security_question_security_question]
GO
ALTER TABLE [dbo].[frequency]  WITH CHECK ADD  CONSTRAINT [FK_frequency_date_part] FOREIGN KEY([date_part_id])
REFERENCES [dbo].[date_part] ([date_part_id])
GO
ALTER TABLE [dbo].[frequency] CHECK CONSTRAINT [FK_frequency_date_part]
GO
ALTER TABLE [dbo].[hospital_notice]  WITH CHECK ADD  CONSTRAINT [FK_hospital_notice_client_naavis_databases] FOREIGN KEY([client_database_id])
REFERENCES [dbo].[client_naavis_databases] ([client_database_id])
GO
ALTER TABLE [dbo].[hospital_notice] CHECK CONSTRAINT [FK_hospital_notice_client_naavis_databases]
GO
ALTER TABLE [dbo].[hospital_provider]  WITH CHECK ADD  CONSTRAINT [FK_hospital_provider_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[hospital_provider] CHECK CONSTRAINT [FK_hospital_provider_account]
GO
ALTER TABLE [dbo].[hospital_service]  WITH CHECK ADD  CONSTRAINT [FK_hospital_service_client_naavis_databases] FOREIGN KEY([client_database_id])
REFERENCES [dbo].[client_naavis_databases] ([client_database_id])
GO
ALTER TABLE [dbo].[hospital_service] CHECK CONSTRAINT [FK_hospital_service_client_naavis_databases]
GO
ALTER TABLE [dbo].[patient_appointment_request]  WITH CHECK ADD  CONSTRAINT [FK_patient_appointment_request_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[patient_appointment_request] CHECK CONSTRAINT [FK_patient_appointment_request_account]
GO
ALTER TABLE [dbo].[patient_feedback]  WITH CHECK ADD  CONSTRAINT [FK_patient_feedback_patient_visit] FOREIGN KEY([patient_visit_id])
REFERENCES [dbo].[patient_visit] ([patient_visit_id])
GO
ALTER TABLE [dbo].[patient_feedback] CHECK CONSTRAINT [FK_patient_feedback_patient_visit]
GO
ALTER TABLE [dbo].[patient_lab]  WITH CHECK ADD  CONSTRAINT [FK_patient_lab_client_naavis_databases] FOREIGN KEY([client_database_id])
REFERENCES [dbo].[client_naavis_databases] ([client_database_id])
GO
ALTER TABLE [dbo].[patient_lab] CHECK CONSTRAINT [FK_patient_lab_client_naavis_databases]
GO
ALTER TABLE [dbo].[patient_prescription]  WITH CHECK ADD  CONSTRAINT [FK_patient_prescription_client_naavis_databases] FOREIGN KEY([client_database_id])
REFERENCES [dbo].[client_naavis_databases] ([client_database_id])
GO
ALTER TABLE [dbo].[patient_prescription] CHECK CONSTRAINT [FK_patient_prescription_client_naavis_databases]
GO
ALTER TABLE [dbo].[patient_verification]  WITH CHECK ADD  CONSTRAINT [FK_patient_verification_client_naavis_databases] FOREIGN KEY([client_database_id])
REFERENCES [dbo].[client_naavis_databases] ([client_database_id])
GO
ALTER TABLE [dbo].[patient_verification] CHECK CONSTRAINT [FK_patient_verification_client_naavis_databases]
GO
ALTER TABLE [dbo].[patient_verification_log]  WITH CHECK ADD  CONSTRAINT [FK_patient_verification_log_client_naavis_databases] FOREIGN KEY([client_database_id])
REFERENCES [dbo].[client_naavis_databases] ([client_database_id])
GO
ALTER TABLE [dbo].[patient_verification_log] CHECK CONSTRAINT [FK_patient_verification_log_client_naavis_databases]
GO
ALTER TABLE [dbo].[patient_visit]  WITH CHECK ADD  CONSTRAINT [FK_patient_visit_client_naavis_databases] FOREIGN KEY([client_database_id])
REFERENCES [dbo].[client_naavis_databases] ([client_database_id])
GO
ALTER TABLE [dbo].[patient_visit] CHECK CONSTRAINT [FK_patient_visit_client_naavis_databases]
GO
USE [master]
GO
